<div class="container pb-3">
  <div class="row mt-5">
    <div class="col-12">
      <div class="alert alert-primary">
        <span>Add Medicine for {{ data.student.fullname }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Medicine</th>
            <th scope="col">Stocks</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inventory of inventories; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ inventory.medicinename }}</td>
            <td>
              <span
    
               
                >{{ inventory.dosage![0]?.stocks | stocks2 : inventory.medicinetaken : inventory.dosage![0].id }}</span
              >
            </td>
            <td>
              <button
              *ngIf="userToken.role !== 'user'"
                class="btn btn-secondary"
               (click)="getChoosenMedicines(inventory)"
              >
                Choose
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="c">
    <div class="col-12">
      <div class="alert alert-success" role="alert">
      {{c.medicinename}}
      </div>
      </div>
      </div>
  <div class="row">
    <div class="col-12">
    
 
      <div class="alert alert-secondary" *ngIf="choosenMedicine?.stocks">
    
        <div [cFormFloating]="true" class="mb-3">
          <input
            cFormControl
            id="floatingInput"
            type="datetime-local"
            [(ngModel)]="medicineData.date"
          />
          <label cLabel for="floatingInput">Date</label>
        </div>
        <div [cFormFloating]="true" class="mb-3">
          <input
            cFormControl
            id="floatingInput"
            type="number"
            [(ngModel)]="medicineData.quantity"
          />
          <label cLabel for="floatingInput">Quantity</label>
        </div>

        <div cFormFloating class="mb-2">
          <label cLabel for="exampleFormControlTextarea2">Action Taken</label>
          <textarea
            style="height: 100px"
            cFormControl
            id="exampleFormControlTextarea2"
            [(ngModel)]="medicineData.action"
          ></textarea>
        </div>
        <div cFormFloating class="mb-2">
          <label cLabel for="exampleFormControlTextarea1"
            >Description Of the Incident</label
          >
          <textarea
            style="height: 100px"
            cFormControl
            id="exampleFormControlTextarea1"
            [(ngModel)]="medicineData.description"
          ></textarea>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <button class="btn btn-primary me-1" (click)="addMedicine()">
            Submit
          </button>
          <button class="btn btn-danger" (click)="close()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
