<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div class="alert alert-primary">
        <span>Medicine List for {{ data.fullname }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Medicine Taken">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Medicines/Quantity</th> 
                <th scope="col">Description of the Incident</th>
                <th scope="col">Action Taken</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medicine of medicines; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{medicine.dosage?.dosage}}/{{medicine.quantity}}</td> 
                <td>
                  {{medicine.description}}
                </td>
                <td>
                  {{medicine.action}}
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Medicine List">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Medicine</th>
                <th scope="col">Dosages/Stocks</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inventory of inventories; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ inventory.medicinename }}</td>
                <td>
                  <span
                    class="badge badge-primary me-1"
                    *ngFor="
                      let dosage of inventory.dosage;
                      index as dosageIndex
                    "
                    >{{ dosage.dosage }}/{{ dosage?.stocks | stocks2 }}</span
                  >
                </td>
                <td>
                  <button
                    class="btn btn-secondary"
                    (click)="addMedicine(inventory)"
                  >
                    Add Medicine
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <button class="btn btn-danger" (click)="close()">Close</button>
    </div>
  </div>
</div>
