<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div class="alert alert-primary">
        <span>Medicine List for {{ data.fullname }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn bg-btn btn-secondary" (click)="addMedicine()">Add Medicine</button>
 
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      
  
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Medicines/Quantity</th>
                <th scope="col">Date</th>
                <th scope="col">Description of the Incident</th>
                <th scope="col">Action Taken</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medicine of medicines; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{ medicine.inventories?.medicinename }}
                  ({{ medicine.quantity }})
                </td>
                <td>{{ medicine.date | dateTime }}</td>
                <td>
                  {{ medicine.description }}
                </td>
                <td>
                  {{ medicine.action }}
                </td>
              </tr>
            </tbody>
          </table>
  
   
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <button class="btn btn-danger" (click)="close()">Close</button>
    </div>
  </div>
</div>
