<div class="row">
  <div class="col-12">
    <button class="btn btn-primary" (click)="addUser()">Add User</button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Username</th>
          <th scope="col">Role</th>
          <th scope="col">Date Added</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Denrey Latuab</td>
          <td>User123</td>
          <td>Super Admin</td>
          <td>September 8 2023</td>
          <td>
            <button class="btn btn-secondary" (click)="editUser()">Edit</button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Denrey Latuab</td>
          <td>User123</td>
          <td>Admin</td>
          <td>September 8 2023</td>
          <td>
            <button class="btn btn-secondary" (click)="editUser()">Edit</button>
          </td>
        </tr>
        <tr></tr>
        <tr>
          <th scope="row">1</th>
          <td>Denrey Latuab</td>
          <td>User123</td>
          <td>User</td>
          <td>September 8 2023</td>
          <td>
            <button class="btn btn-secondary" (click)="editUser()">Edit</button>
          </td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
  </div>
</div>
