<div class="row">
  <div class="col-12">
    <button class="btn bg-btn btn-secondary" (click)="addStudent(false)" *ngIf="userToken.role === 'super admin' || userToken.role === 'admin'">Add Patients</button>
  </div>
</div>
<div class="row mt-3">     
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">In Case of Emergencies</th>
          <th scope="col">Date Added</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; index as i">
          <th scope="row">{{(i + 1)}}</th>
          <td>{{ student.fullname }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.grade }}</td>
          <td>{{ student.emergencyContactNo }}</td>
          <td>{{ student.date_added | momentjs2 }}</td>
          <td>
            <button class="btn btn-danger me-1 mb-1" (click)="deleteStudent(student)" *ngIf="userToken.role === 'super admin'">
              Delete
            </button>
            <button *ngIf="userToken.role !== 'user'" class="btn btn-secondary me-1 mb-1" (click)="editStudent(student)">
              Edit
            </button>
            <button class="btn btn-secondary" (click)="viewMedicines(student)">
              Medicines
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
