<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div class="alert alert-primary">
        <span>Add User</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
     
        <div [cFormFloating]="true" class="mb-3">
          <input
            cFormControl
            id="floatingInput" 
            type="text"
            [(ngModel)]="username"
          />
          <label cLabel for="floatingInput">Username</label>
        </div>

        <div [cFormFloating]="true" class="mb-3">
          <input
            cFormControl
            id="floatingInput" 
            type="password"
            [(ngModel)]="password"
          />
          <label cLabel for="floatingInput">Password</label>
        </div>

        <div [cFormFloating]="true" class="mb-3">
          <input
            cFormControl
            [(ngModel)]="rpassword"
            id="floatingInput" 
            type="password"
          />
          <label cLabel for="floatingInput">Repeat Password</label>
        </div>
        <div [cFormFloating]="true" class="mb-3">
          <input
          [(ngModel)]="fullname"
            cFormControl
            id="floatingInput" 
            type="email"
          />
          <label cLabel for="floatingInput">Full Name</label>
        </div>
        <div [cFormFloating]="true" class="mb-3">
          <select
            aria-label="Default select example"
            id="floatingInput"
            cFormControl
            cSelect
            [cFormFloating]="true"
            class="mb-3"
            [(ngModel)]="role"
          >
            <option>Open this select menu</option>
            <option value="user">User</option>
            <option value="admin">Admin</option>
            <!-- <option value="super admin">Super admin</option> -->
          </select>
          <label cLabel for="floatingInput">Role</label>
        </div>
      
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <button class="btn btn-primary me-1" (click)="addUser()">Submit</button>
      <button class="btn btn-danger" (click)="close()">Close</button>
    </div>
  </div>
</div>
