<div class="row">
  <div class="col-12">
    <button
      class="btn btn-secondary bg-btn"
      (click)="addMedicine()"
      *ngIf="userToken.role !== 'user'"
    >
      Add Medicine
    </button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Medicine</th>
          <th scope="col">Stocks/Max Stocks</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventory of inventories; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ inventory.medicinename }}</td>
          <td>
            <span>{{
              inventory.dosage![0]?.stocks
                | stocks : inventory.medicinetaken : inventory.dosage![0].id
            }}</span>/{{inventory.maxcount ?? 'Not yet Specified'}}
          </td>
          <td>
            <button
              *ngIf="userToken.role === 'super admin'"
              class="btn btn-danger me-3"
              (click)="deleteMedicine(inventory)"
            >
              Delete
            </button>
            <button
              *ngIf="userToken.role !== 'user'"
              class="btn btn-secondary me-3"
              (click)="updateMedicine(inventory)"
            >
              Edit
            </button>
            <button
              *ngIf="userToken.role !== 'user'"
              class="btn btn-secondary"
              (click)="addStocks(inventory)"
            >
              Add Stocks
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
