<div class="row">
  <div class="col-12">
    <button class="btn btn-primary" (click)="addMedicine()">
      Add Medicine
    </button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Medicine</th>
          <th scope="col">Dosages/Stocks</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>

          <td>Paracetamol</td>

          <td>
            <span class="badge badge-primary me-1">25mg/200</span>
            <span class="badge badge-primary me-1">50mg/300</span>
            <span class="badge badge-primary me-1">100mg/500</span>
          </td>
          <td>
            <button class="btn btn-secondary me-1" (click)="edit()">
              Edit
            </button>
            <button class="btn btn-secondary" (click)="addStocks()">
              Add Stocks
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>

          <td>Paracetamol</td>

          <td>
            <span class="badge badge-primary me-1">25mg/200</span>
            <span class="badge badge-primary me-1">50mg/300</span>
            <span class="badge badge-primary me-1">100mg/500</span>
          </td>
          <td>
            <button class="btn btn-secondary me-1" (click)="edit()">
              Edit
            </button>
            <button class="btn btn-secondary" (click)="addStocks()">
              Add Stocks
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>

          <td>Paracetamol</td>

          <td>
            <span class="badge badge-primary me-1">25mg/200</span>
            <span class="badge badge-primary me-1">50mg/300</span>
            <span class="badge badge-primary me-1">100mg/500</span>
          </td>
          <td>
            <button class="btn btn-secondary me-1" (click)="edit()">
              Edit
            </button>
            <button class="btn btn-secondary" (click)="addStocks()">
              Add Stocks
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>

          <td>Paracetamol</td>

          <td>
            <span class="badge badge-primary me-1">25mg/200</span>
            <span class="badge badge-primary me-1">50mg/300</span>
            <span class="badge badge-primary me-1">100mg/500</span>
          </td>
          <td>
            <button class="btn btn-secondary me-1" (click)="edit()">
              Edit
            </button>
            <button class="btn btn-secondary" (click)="addStocks()">
              Add Stocks
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
